{% extends "chaty/base.html"%}

{% block title %}chat room{% endblock %}

{% block main %}

<div class="room-info-box">
    <div class="room-name-box">
        <h3>{{ room_pk }}</h3>
    </div>
    <div class="room-info"></div>
    <div class="user-info"></div>
</div>


<div class="massage-box">
    <div class="massages" id="massages"></div>
    <div class="mb-3 inputs">
        <input class="form-control" type="text" name="massage" autofocus placeholder="Massage" id="massage">
        <button type="button" name="send" id="send-btn" class="btn-primary btn" onclick="sendMassage()">Send</button>
    </div>
</div>


<script>
    var message_array;
    let ws_url = `ws://${window.location.host}/ws/socket-server/{{room_pk}}`
    let message_api = `http://${window.location.host}/api/get_messages/` + '{{room_pk}}'
    
    function addToHtml(msg, name) {
        let messages = document.getElementById("massages");
        messages.insertAdjacentHTML("beforeend", 
        `<div class="text">
            <span>
                <strong>${name}</strong>: <div class="msg-text">${msg}</div>
        </div>`
        )}

    const ChatServer = new WebSocket(ws_url)
    let n;
    ChatServer.onmessage = (e) => {
        let data = JSON.parse(e.data);
        if (data.type === "chat") {
            addToHtml(data.message, data.sender)
            n = data
        }
    }

    document.addEventListener("DOMContentLoaded", (event) => {
        fetch(message_api)
        .then(data =>{
            if (!data.ok){
                throw Error(data.status);
            }
            return data.json();
        }).then(value => {
            message_array = value
            message_array.forEach(message => {
                addToHtml(message.content, message.origin)
            });
        })

        let button = document.getElementById("send-btn")
        // button.addEventListener("keydown", sen)
        // button.onsubmit("keydown") = sendMassage()
    })



    function sendMassage() {
        let message_box = document.getElementById("massage")
        let message = message_box.value
        if (message == "") return;
        ChatServer.send(JSON.stringify({
            "message":message
        }))
    }







    /*TODO:
        - [x] call api to get previous messages
        - [x] save previous messages and serilize them 
        - [x] get previous messages and websocket url
        - [x] maintain websocket to recv and send messages
        - [ ] check api permissions in back-end 
        - [ ] css
        - [ ] add room info
    */








</script>

{% endblock %}
