{% extends "chaty/base.html"%}

{% block title %}index{% endblock %}

{% block body %}
<h1>lets chat</h1>

<form action="" id="form">
    <input type="text" name="message" />

</form>

<div id="messages"></div>

<script type="text/javascript">
    let url = `ws://${window.location.host}/ws/socket-server` 

    const chatServer = new WebSocket(url)

    chatServer.onmessage = function(e){
        let data = JSON.parse(e.data);
        console.log('DATA:', data);

        if (data.type === "chat") {
            let messages = document.getElementById('messages');
            messages.insertAdjacentHTML('beforeend', `<div><p>${data.message}</p></div>`)
            
        }
    }

    let form = document.getElementById('form')
    form.addEventListener('submit', (e)=> {
        e.preventDefault()
        let message = e.target.message.value
        chatServer.send(JSON.stringify({
            'message':message
        }))
        form.reset()
    })
</script>

{% endblock %}