<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        
        {% load static %}
        <link rel="stylesheet" href="{% static 'web/styles.css' %}">
        
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>

        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <span class="blue">C</span>
                    <span class="red">H</span>
                    <span class="yellow">@</span>
                    <span class="green">T</span> 
                </a>
                
                <div class="collapse navbar-collapse" id="navbar">
                    {% if request.user.is_authenticated %}
                        <ul class="navbar-nav ms-auto mt-2">
                            {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'web:dashboard' %}">Dashboard</a></li> {% endcomment %}
                            {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'web:sign_out' %}">Sign out</a></li> {% endcomment %}
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'user:sign_in' %}">Sign in</a></li> {% endcomment %}
                            {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'user:register' %}">Register</a></li> {% endcomment %}
                        </ul>
                    {% endif %}
                </div>    
            </div>
        </nav>
        <header></header>

        <main class="container py-5 text-center">
            {% block main %}{% endblock %}
        </main>
    </body>
    </html>
