
{% extends "user/base.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}


<form id="form">
    <div class="mb-3">
        <input name="username" class="form-control mx-auto w-auto" autocomplete="off" autofocus  name="username" placeholder="Username" type="text">
    </div>

    <div class="mb-3">
        <input name="password" class="form-control mx-auto w-auto" autocomplete="off" autofocus  id="password" placeholder="password" type="password">
    </div>

    <div class="mb-3">
        <input name="password2" class="form-control mx-auto w-auto" autocomplete="off" autofocus  id="password2" placeholder="password again" type="password">
    </div>
    
    <button class="btn btn-primary" type="submit">Log In</button>
</form>
<script>
    var m
    document.addEventListener("DOMContentLoaded", (event)=>{
    var csrftoken = '{{ csrf_token }}';
    let api = '{{ register_api }}'
    let wurl = window.location.host
    console.log(wurl + api)
    function Manual_Alert(msg) {
        document.querySelector('header').innerHTML =`
            <div class="alert alert-primary mb-0 text-center" role="alert">
                ${msg}
            </div>`        
    }
            
        
    function post_api(api_url, username, password) {
        const options = {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({
                username: username,
                password: password
            }),
        };
        return fetch(api_url, options)
    }

    let form = document.getElementById("form")
    form.addEventListener("submit", (e)=>{
        e.preventDefault()
        let username = e.target.username.value
        let password = e.target.password.value
        let password2 = e.target.password2.value
        if (password != password2){
            Manual_Alert('check your password')
        }else{
            post_api(api, username, password)
            .then(data =>{
                if (!data.ok){
                    throw Error(data.status);
                }
                return data.json();
            }).then(update =>{
                m = update
                return m
            })
            .then(()=>{
                if (m.status==='failed'){
                    Manual_Alert(m.msg)
                }else{
                    window.location.href =  m.next
                }
            })
        }
    })
})
</script>
{% endblock %}
