{% extends 'user/base.html' %}
{% block title %}Sign in{% endblock%}


{% block main %}
    <form id="form">
        <div class="mb-3">
            <input name="username" class="form-control mx-auto w-auto" autocomplete="off" autofocus  id="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input name="password" class="form-control mx-auto w-auto" autocomplete="off" autofocus  id="password" placeholder="password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <script>
        var m

        document.addEventListener("DOMContentLoaded", (event) => {
            let url = window.location.host
            var csrftoken = '{{ csrf_token }}';
            let api = '{{ sign_in_api }}'
            let form = document.getElementById("form")
            form.addEventListener("submit", (e) => {
                e.preventDefault()
                let username = e.target.username.value
                let password = e.target.password.value
                const options = {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    username: username,
                    password: password,
                }),
                };
                fetch(api, options)
                .then(data =>{
                    if (!data.ok) {
                        throw Error(data.status);
                    }
                    return data.json();
                    }).then(update => {
                    m = update 
                    return m
                })
                .then(() => {
                    if (m.status==='failed'){
                        document.querySelector('header').innerHTML =`
                        <div class="alert alert-primary mb-0 text-center" role="alert">
                            failed to authenticate
                        </div>`
                    }else{
                        window.location.replace(m.next)

                    }
            })
    
            })
        })
        </script>
{% endblock %}
