{% extends 'user/base.html' %}
{% block title %}Sign in{% endblock%}


{% block main %}
    <form action="" method="">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autocomplete="off" autofocus  name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autocomplete="off" autofocus  name="password" placeholder="password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}

